.form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding: 2rem;
    margin: auto;
}
.form-group input,select{
    padding: .5rem;
    border-radius: 10px;
}
.form-group button{
    margin-top: 5px;
    padding: 1rem;
}